{{!-- about.hbs --}}
{{> layout}}
<div class="text-center centered-text about-content" style="background: none;">
    <h1 class="thin-text">About</h1>
    <h1><a class="navbar-brand brand-name" href="/">
                Shada <span class="lastname">Mustafa</span>
            </a></h1>
    <p class="lead">Shada Mustafa is an accomplished artist known for her vivid and emotionally evocative paintings. Through her work, she seeks to explore the depths of human emotion and the complexities of the human experience.</p>
</div>
