{{!-- index.hbs --}}
{{> layout}}
<div class="jumbotron jumbotron-fluid text-white centered-text">
    <h1><a class="navbar-brand brand-name" href="/">
                Shada <span class="lastname">Mustafa</span>
            </a></h1>
    <p class="lead">Explore the amazing artworks and projects of Shada Mustafa.</p>
</div>
