{{!-- works.hbs --}}
{{> layout}}
<div class="container projects-title">
    <h1 class="thin-text">Projects by</h1>
    <h1>Shada <span class="lastname">Mustafa</span></h1>
</div>
<div class="container">
    <!-- Abstract Emotions Section -->
    <div class="project-section mb-4" style="background-image: url('/images/4.jpg');">
        <h2>Abstract Emotions</h2>
        <p class="project-description">Description: "Abstract Emotions" is a collection that captures the delicate world of human emotions through abstract shapes and vibrant colors. Each piece in this series aims to evoke a strong reaction from the viewer, reflecting the intensity and complexity of our inner feelings.</p>
        <h3>Highlighted Works</h3>
        <div class="highlighted-work">
            <p><strong>Title:</strong> Fury</p>
            <p><strong>Year:</strong> 2024</p>
            <p><strong>Medium:</strong> Acrylic on Canvas</p>
            <p><strong>Dimensions:</strong> 30 x 40 inches</p>
            <p><strong>Description:</strong> Sharp red and black lines capture the raw intensity of anger.</p>
        </div>
    </div>
    
    <!-- Emotional Landscapes Section -->
    <div class="project-section" style="background-image: url('/images/21.jpg');">
        <h2>Emotional Landscapes</h2>
        <p class="project-description">Description: "Emotional Landscapes" translates the abstract emotions explored in the previous project into expansive and surreal landscapes. Each piece in this series depicts an environment that embodies a specific emotion, blending natural elements with abstract forms to create a unique and immersive experience.</p>
        <h3>Highlighted Works</h3>
        <div class="highlighted-work">
            <p><strong>Title:</strong> Forest of Serenity</p>
            <p><strong>Year:</strong> 2024</p>
            <p><strong>Medium:</strong> Oil and Digital Print</p>
            <p><strong>Dimensions:</strong> 36 x 48 inches</p>
            <p><strong>Description:</strong> Soft, flowing forms filled with green hues evoke a sense of peace and tranquility.</p>
        </div>
    </div>
</div>
